# Notionインテグレーションのシークレットキー
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# NotionのデータベースID（URLから取得）
NOTION_LUNCH_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_NEWS_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_HOLIDAY_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_RECIPE_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_REELS_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
